@use "variables" as *;

.csv-editor {
  position: absolute;
  top: 1rem;
  right: $csvEditorRight;
  left: $csvEditorLeft;
  bottom: 1rem;
  background: linear-gradient(to bottom, $gradient-top, $gradient-bottom);
  z-index: 1;
  transition: transform 0.25s ease;

  &.hide {
    transform: translateX(110%);
  }

  p {
    margin-bottom: 1rem;
    display: block;
  }

  code {
    margin-bottom: 1rem;
    display: block;
  }

  .ce-buttons {
    display: block;
  }

  button {
    margin: 1rem 0;
  }
}

.ce-open-button {
  float: right;
}

.ce-hosts-textarea {
  background: transparent;
  width: 100%;
  min-height: 240px;
  min-width: calc($bodyMinWidth - $csvEditorLeft - $csvEditorRight);
  resize: horizontal;
  padding: 6px;
  font-family: monospace;
  border: 1px solid $border-color;
}
